{% extends 'base.html.twig' %}

{% block title %}Edit Link{% endblock %}

{% block body %}
    <h1>Edit Link</h1>

    {{ include('Back/link/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_link_index') }}">back to list</a>

    {{ include('Back/link/_delete_form.html.twig') }}
{% endblock %}
