{% extends 'back_base.html.twig' %}

{% block title %}New Link{% endblock %}

{% block content %}
    <h1>Create new Link</h1>

    {{ include('Back/link/_form.html.twig') }}

    <a href="{{ path('back_link_index') }}">back to list</a>
{% endblock %}
