{% extends 'back_base.html.twig' %}

{% block title %}Edit UserLanguage{% endblock %}

{% block content %}
    <h1>Edit UserLanguage of {{ user_language.user.id }}</h1>

    {{ include('Back/user_language/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_user_language_index') }}">back to list</a>
{% endblock %}
