{% extends 'back_base.html.twig' %}

{% block title %}New UserSociety{% endblock %}

{% block content %}
    <h1>Create new UserSociety</h1>

    {{ include('Back/user_society/_form.html.twig') }}

    <a href="{{ path('back_user_society_index') }}">back to list</a>
{% endblock %}
