{# security/forgot_reset_password.html.twig #}

{% extends 'security/security_base.html.twig' %}

{% block title %}Reset password - {{ parent() }}{% endblock %}

{% block content %}

    <div class="container mt-5 mb-5">
        <h1>Définissez un nouveau mot de passe</h1>
        {{ form(form) }}
        <a class="ml-1 mt-3 btn btn-secondary" href="{{ path('front_index') }}">Retour</a>
    </div>

{% endblock %}
