{% extends 'base.html.twig' %}

{% block title %}CVBien{% endblock %}

{% block body %}
    {% block header %}
        {{ include('_header_dashboard.html.twig') }}
    {% endblock %}
    <div class="container flex-fill">
    {% block content %}{% endblock %}
    </div>
    {% block footer %}
        {{ include('_footer.html.twig') }}
    {% endblock %}
{% endblock %}