{% extends 'back_base.html.twig' %}

{% block title %}Edit Country{% endblock %}

{% block content %}
    <h1>Edit Country</h1>

    {{ include('Back/country/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_country_index') }}">back to list</a>

    {{ include('Back/country/_delete_form.html.twig') }}
{% endblock %}
