{% extends 'back_base.html.twig' %}

{% block title %}New Country{% endblock %}

{% block content %}
    <h1>Create new Country</h1>

    {{ include('Back/country/_form.html.twig') }}

    <a href="{{ path('back_country_index') }}">back to list</a>
{% endblock %}
