{% extends 'back_base.html.twig' %}

{% block title %}Edit UserProject{% endblock %}

{% block content %}
    <h1>Edit UserProject</h1>

    {{ include('Back/user_project/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_user_project_index') }}">back to list</a>
{% endblock %}
