{% extends 'base.html.twig' %}

{% block title %}New UserDiploma{% endblock %}

{% block body %}
    <h1>Create new UserDiploma</h1>

    {{ include('user_diploma/_form.html.twig') }}

    <a href="{{ path('user_diploma_index') }}">back to list</a>
{% endblock %}
