{% extends "front_base.html.twig" %}

{% block title %}Dashboard - CVBien{% endblock %}

{% block content %}
    {% if user is defined %}
        <p>{{ user.firstname }}</p>
        <p>{{ user.adress }}</p>
    {% endif %}
{% endblock %}