body {
    background-color: darkslategray;
}

img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}

#canvas {
    height: 450px;
    width: 450px;
    background-color: #ffffff;
    cursor: default;
    border: 1px solid black;
}