{% extends 'back_base.html.twig' %}

{% block title %}Edit ProgTechnology{% endblock %}

{% block content %}
    <h1>Edit ProgTechnology</h1>

    {{ include('Back/prog_technology/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('prog_technology_index') }}">back to list</a>

    {{ include('Back/prog_technology/_delete_form.html.twig') }}
{% endblock %}
