{% extends 'back_base.html.twig' %}

{% block title %}New ProgTechnology{% endblock %}

{% block content %}
    <h1>Create new ProgTechnology</h1>

    {{ include('Back/prog_technology/_form.html.twig') }}

    <a href="{{ path('prog_technology_index') }}">back to list</a>
{% endblock %}
