{% extends 'back_base.html.twig' %}

{% block title %}Edit UserDiploma{% endblock %}

{% block content %}
    <h1>Edit UserDiploma of {{ user_diploma.user.id }}</h1>

    {{ include('Back/user_diploma/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_user_diploma_index') }}">back to list</a>

{% endblock %}
