{% extends 'back_base.html.twig' %}

{% block title %}Edit UserDiploma{% endblock %}

{% block body %}
    <h1>Edit UserDiploma</h1>

    {{ include('Back/user_diploma/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_user_diploma_index') }}">back to list</a>

    {{ include('Back/user_diploma/_delete_form.html.twig') }}
{% endblock %}
