{% extends 'base.html.twig' %}

{% block title %}Edit ProgLanguage{% endblock %}

{% block body %}
    <h1>Edit ProgLanguage</h1>

    {{ include('prog_language/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('prog_language_index') }}">back to list</a>

    {{ include('prog_language/_delete_form.html.twig') }}
{% endblock %}
