{% extends 'base.html.twig' %}

{% block title %}CV Bien{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card">
            <h5 class="card-header">Bienvenue sur <a href="{{ path('app_index') }}">cvbien.io</a></h5>
            <div class="card-body">
                <h5 class="card-title">Développement en cours</h5>
                <p class="card-text">Cette page sera developpée par la suite quand le developpement sera terminé</p>
                <a class="btn btn-primary" href="{{ path('app_security_login') }}">Sign in</a>
                <a class="btn btn-outline-primary" href="{{ path('app_security_registration') }}">Sign up</a>
            </div>
        </div>
    </div>
    {% block footer %}{% endblock %}
{% endblock %}