{% extends 'back_base.html.twig' %}

{% block title %}Edit Diploma{% endblock %}

{% block content %}
    <h1>Edit Diploma</h1>
    {{ include('Front/user/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
