{% extends 'back_base.html.twig' %}

{% block title %}Edit UserProgLanguage{% endblock %}

{% block content %}
    <h1>Edit UserProgLanguage of {{ user_prog_language.user.id }}</h1>

    {{ include('Back/user_prog_language/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_user_prog_language_index') }}">back to list</a>
{% endblock %}
