{% extends 'base.html.twig' %}

{% block title %}Edit UserProgLanguage{% endblock %}

{% block body %}
    <h1>Edit UserProgLanguage</h1>

    {{ include('user_prog_language/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_prog_language_index') }}">back to list</a>

    {{ include('user_prog_language/_delete_form.html.twig') }}
{% endblock %}
