<div id="userLanguageModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter un Language</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(formUserLanguageFront) }}
                {{ form_widget(formUserLanguageFront) }}
                <button class="btn btn-primary">{{ button_label|default('Add') }}</button>
                {{ form_end(formUserLanguageFront) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="cropSave" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>