{% extends "front_base.html.twig" %}

{% block title %}Dashboard - {{ parent() }}{% endblock %}

{% block header %}
    {{ include('_header_dashboard.html.twig') }}
{% endblock %}

{% block content %}
    {% if user is defined %}
        <div class="container-fluid">
            <div class="row mt-4 mb-4">
                {{ include('Front/user/_user_info_menu.html.twig') }}
                {{ include('Front/user/_user_info_perso.html.twig') }}
            </div>
        </div>
    {% endif %}
{% endblock %}